.Select-Category-Container {
    flex-direction: column;
    row-gap: 20px;
}

/* Category Sort Button Styles */
.Select-Category-Container div {
    display: flex;
    column-gap: 20px;
}

.Select-Category-Container div button {
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    width: 15%;
}

/* Category Column */
.Priority-Category-Container div {
    background: #91e013;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    border-bottom: solid 1px #000;
}

/* Category Overlay Styles */
.Category-Form-Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.Category-Form-Container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.Category-Form-Container div label {
    font-size: 20px;
}
.Category-Form-Container div input {
    font-size: 17px;
    padding: 10px 0 10px 5px;
}

@media screen and (max-width: 680px) {
    .Select-Category-Container div {
        justify-content: center;
        column-gap: 20px;
    }

    .Select-Category-Container div button {
        width: 100%;
    }
}