/* Overlay */
.Priority-Form-Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Priority-Form-Main-Container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Divider {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.Divider button {
    font-size: 18px;
    padding: 10px 0 10px 0;
    width: 25%;
}

.Priority-Form-Container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.Priority-Form-Container input {
    font-size: 17px;
    padding: 10px 0 10px 5px;
    border-radius: 8px;
    border-color: gray;
}

.Overlay-Options-Container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    column-gap: 30px;
}

.Overlay-Options-Container select {
    width: 50%;
}

.Overlay-Options-Container button {
    width: 100%;
    background: #ffbe45;
    font-size: 18px;
    padding: 10px 0 10px 0;
    width: 25%;
}